*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
  GENERAL RULE: the unit measurement rem (root-element) depends on font-size pixels: 
  the conversion to pixels will be, for example "font-size: 10px -> 1rem = 10px"
*/

html{
    /*
     Considering we have to build the application in a responsive point of view,
     we must use % and not px as unit measurment, because px is a fixed unit while %
     is dynamic and adapts itself to the space it has.
     The default font-size of browsers is 16px and we want to use 10px to easily use
     the rem unit measurment.
     The compute to convert 16px to % it's easy and it is 10/16=0.625 -> 62.5%
     */
     font-size: 62.5%;
}

/*Let's build some reusable grid classes;
  The syntax .grid-- means that is an extension
  of .grid class
*/

.container{
    max-width: 120rem; /*1200px*/
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid{
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6rem;
}

.grid--center-vertically{
    align-items: center;
}

.grid--2-cols{
    grid-template-columns: repeat(2,1fr); /*= 1fr 1fr*/
}

.grid--3-cols{
    grid-template-columns: repeat(3,1fr); /*= 1fr 1fr 1fr*/
}

/**********************************/

body{
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
}

.logo{
    height: 2.4rem;
}

.main-nav-list{
    list-style: none;
    display: flex;
    gap: 3.2rem; 
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited{
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:hover{
    color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active{
    background-color: #cf711f;
}

.section-hero{
    background-color: #fdf2e9;
    padding: 7rem 8rem;
}

.hero{
    max-width: 120rem; /*1300px*/
    /*using max-width instead of simply "width" will make
    the html element to not create an horizontal scroll when
    the dimension of page is reduced*/
    padding: 0 3.2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.heading-primary,
.heading-secondary{
    font-weight: 700;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.heading-primary{
    font-size: 5.2rem;
    color: #333;
    letter-spacing: -0.5px;
}

.heading-secondary{
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}

.heading-tertiary{
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.subheading{
    /*Remember: display-inline/block allows us
    to put margin and other styles to element as p, span*/
    display: inline-block;
    letter-spacing: 0.75px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

.hero-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.btn:link, .btn:visited{
    display: inline-block;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 150px;
    text-decoration: none;
    transition: all 0.5s;
}

.btn--full{
    background-color: #e67e22;
    color: #fff;
}

.btn--outline{
    background-color: #fff;
    color: #555;
}

.btn--full:hover, .btn--full:active{
    background-color: #cf711f;
}

.btn--outline:hover, .btn--outline:active{
    background-color: rgb(219, 219, 219);
    /*
      the box-shadow statement allows us to add
      border inside the element rather than outside;
      putting the class "border: solid" would add
      space outside making the upside element jumps
      up of the px quantity declared to border sizing,
      which is definitly what we don't want
    */
    box-shadow: inset 0 0 0 3px white;
}

.hero-img{
    width: 100%;
}

.margin-right-sm{
    margin-right: 1.6rem !important;
    /*put this margin in a separated class in order to
    reuse the btn--full class without inheriting the margin,
    which is not necessarly wanteds*/
}

.delivered-meals{
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}

.delivered-imgs{
    display: flex;
}

.delivered-imgs img{
    border-radius: 100%;
    height: 4.8rem;
    width: auto;
    margin-right: -1.6rem;
    border: 3px solid #fff;
}

.delivered-imgs img:last-child{
    margin-right: 0;
}

.delivered-text{
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span{
    color: orangered;
    font-weight: 1000;
}

/*****FEATURED IN*******/

.heading-featured-in{
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #999;
}

.section-featured{
    padding-top: 5.6rem;
}

.logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logos img{
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}

/*****HOW IT WORKS********/

.section-how{
    padding: 8rem 0 9.6rem 0;
}

/*------------------------*/

/*next two classes are strictly linked
each other in order to make a circle 
appear behing the phone image*/

.step-img-box{
    /*just to center images*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*let'us use pseudo classes
::after/before in order to create
virtual html elements*/

.step-img-box::before,
.step-img-box::after{
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
}

.step-img-box::before{
    width: 60%;
    padding-bottom: 60%;
    border-radius: 50%;
    background-color: #fdf2e9;
    /*z-index is what makes circle actually
    appear behind*/
    z-index: -2;
}

.step-img-box::after{
    width: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
    background-color: #ffd9bb;
    z-index: -1;
}

/*------------------------*/

.step-img{
    width: 40%;
}

.step-number{
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description{
    font-size: 1.8rem;
    line-height: 1.8;
}

/*************MEALS-SECTION*****************/

.tags{
    display: flex;
    gap: 0.8rem;
}

.tags span{
    margin-left: 0;
    margin-right: 0;
}

.tag{
    display: inline; /*for padding*/
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    border-radius: 100px;
    margin: 1.4rem;
    font-weight: bold;
}

.tag--vegan{
    background-color: rgb(61, 255, 61);
}
.tag--paleo{
    background-color: rgb(224, 224, 0);
}

.tag--vegetarian{
    background-color: rgb(41, 190, 41);
}

.meal{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2.4px 4.8rem rgba(0,0,0,0.15);
    border-radius: 11px;
    overflow: hidden;
    /*WHAT OVERFLOW DOES? In due we want to make border
    radius, the image inside the card would override the border
    with its square ones. Putting this property will hidden
    the borders.*/
    padding-bottom: 2rem;
    transition: all 0.3s;
}

.meal:hover{
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2px 6.4rem rgba(0,0,0,0.10);
}

.section-meals{
    padding: 9.6rem 0;
}

.meal-title{
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}

.meal-attributes{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.meal-attribute{
    display: flex;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
}

.meal-img{
    width: 100%
}

.meal-icon{
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.list-item{
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    gap: 0.8rem;
}

.list-icon{
    color:#e67e22;
    width: 3rem;
    height: 3rem;
}

.all-recipes{
    margin-top: 4.8rem;
    font-size: 1.8rem;
    text-align: center;
}

.link:link,
.link:visited{
    text-decoration: none;
    color: #e67e22;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;
}

.link:hover,
.link:active{
    color: #cf711f;
}

/*TESTIMONIALS*/

.section-testimonials{
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonials-container{
    padding: 9.6rem;
}

.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonial-image{
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-text{
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

.testimonial-name{
    font-size: 1.6rem;
    color: #777;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}

.gallery-item{
    /*This property is useful in order
    to let the hover property on images
    make images bigger than before 
    but without increasing dimension*/
    overflow: hidden;
}

.gallery-item img{
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.4s
}

.gallery-item img:hover{
    transform: scale(1.1);
}

/*PRICING*/

.section-pricing{
    padding: 9.6rem 0;
}

.pricing-plan{
    background-color: #fdf2e9;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.pricing-plan--complete{
    position: relative;
    overflow: hidden;
}

.pricing-plan--complete::after{
    content: "BEST VALUE";
    position: absolute;
    top: 6%;
    right: -7%;
    background-color: yellow;
    padding: 0.8rem 3.2rem;
    font-weight: bold;
    transform: rotate(45deg);
}

.plan-header{
    text-align: center;
    margin-bottom: 4.8rem;
}

.plan-price{
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
}

.plan-price span{
    font-size: 3rem;
    font-weight: 500;
    margin-right: 1.2rem;
}

.plan-name{
    color: #cf711f;
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
}

.plan-text{
    font-size: 1.8rem;
    line-height: 1.8;
}